.main-header {
    text-align: center;
}

.selection-content {
    display: flex;
    flex-direction: column;
}

.selection-btn {
    height: 32px;
    border: none;
    border-radius: 8px;
}

.bisque-color {
    background-color: rgb(139, 177, 115);
}

.aqua-color {
    background-color: rgb(255, 255, 255);
}

.luas-segitiga-header {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0px;
    background-color: rgb(255, 255, 164);
}

.luas-segitiga-content {
    display: flex;
    flex-direction: column;
}

.luas-segitiga-img {
    height: 350px;
    width: 350px;
    background-image: url(https://asset-a.grid.id/crop/0x0:0x0/x/photo/2021/01/15/3991804788.jpg);
    background-size: cover;
    background-position: center;
    align-self: center;
}

.luas-segitiga-form-header {
    text-align: center;
}

.keliling-segitiga-header {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0px;
    background-color: rgb(255, 255, 164);
}

.keliling-segitiga-content {
    display: flex;
    flex-direction: column;
}

.keliling-segitiga-img {
    height: 350px;
    width: 350px;
    background-image: url(https://asset-a.grid.id/crop/0x0:0x0/x/photo/2021/01/15/1853786887.jpg);
    background-size: cover;
    background-position: center;
    align-self: center;
}

.keliling-segitiga-form-header {
    text-align: center;
}

.input-wrapper {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-wrapper>input {
    width: 50%;
}

input[type=number] {
    padding: 5px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.main-content {
    display: flex;
}

.main-content>aside {
    flex: 1;
}

@media only screen and (max-width: 480px) {
    .main-content {
        flex-direction: column;
    }
}