/* mengubah semua font pada element body menjadi calibri */
body {
    font-family: Calibri;
}

/* judul main header di tengah */
.main-header {
    text-align: center;
}

.main-subheader {
    text-align: center;
}

/* tombol selection-content tersusun secara horizontal */
.selection-content {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
}

/* tombol selection-content */
.selection-btn {
    border: 1px solid #b0d7b1;
    background-color: #b0d7b1;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 4px;
    font-size: 14px;
    border-radius: 5px;
    min-width: 120px;
}

button.selection-btn:hover {
    background-color: #74a875;
}

/* judul luas segitiga */
.luas-segitiga-header {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 20px;
    background-color: rgb(255, 255, 164);
    border: 1px solid rgb(255, 255, 164);
    border-radius: 4px;
}

/* isi konten luas segitiga agar tersusun vertikal */
.luas-segitiga-content {
    display: flex;
    flex-direction: column;
}

/* menyisipkan gambar rumus luas segitiga */
.luas-segitiga-img {
    height: 350px;
    width: 350px;
    background-image: url(https://asset-a.grid.id/crop/0x0:0x0/x/photo/2021/01/15/3991804788.jpg);
    background-size: cover;
    background-position: center;
    align-self: center;
}

/* judul agar di tengah */
.luas-segitiga-form-header {
    text-align: center;
}

.keliling-segitiga-header {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 20px;
    background-color: rgb(255, 255, 164);
    border: 1px solid rgb(255, 255, 164);
    border-radius: 4px;
}

.keliling-segitiga-content {
    display: flex;
    flex-direction: column;
}

.keliling-segitiga-img {
    height: 350px;
    width: 350px;
    background-image: url(https://asset-a.grid.id/crop/0x0:0x0/x/photo/2021/01/15/1853786887.jpg);
    background-size: cover;
    background-position: center;
    align-self: center;
}

.keliling-segitiga-form-header {
    text-align: center;
}

/* mengatur input nilai */
.input-wrapper {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-wrapper>input {
    width: 50%;
}

/* style untuk input nilai */
input[type=number] {
    padding: 5px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* tombol hitung */
button.hitung-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

/* tombol hitung ketika di hover */
button.hitung-btn:hover {
    background-color: #37803a;
}

/* tombol reset */
button.reset-btn {
    background-color: #f44336;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

/* tombol reset ketika di hover */
button.reset-btn:hover {
    background-color: #da190b;
}

/* mengatur tampilan konten agar menjadi fleksibel */
.main-content {
    display: flex;
}

/* mengatur tampilan konten agar memiliki proporsi yang sama */
.main-content>aside {
    flex: 1;
}

/* mengatur tampilan konten agar menjadi fleksibel ketika di bawah 480px */
@media only screen and (max-width: 480px) {
    .main-content {
        /* mengubah tampilan menjadi tersusun secara vertikal apabila sudah di bawah 480px */
        flex-direction: column;
    }
}